.products-section {
    padding: 8rem 0;
    background: radial-gradient(70.02% 276.03% at 70.02% 54.72%, #f5f5f5 33.43%, #e5e5e5 100%);
}

.products-section-container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.products-section-bar {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.5rem;
}

.products-section-brands {
    padding: 1.5rem 3rem;
}

.brand-btn {
    text-decoration: none;
    color: #333333;
    padding: 0.8rem 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    transition: .3s;
    border-radius: 1.5rem;
}

.brand-btn:hover{
    padding: 0.8rem 2.5rem;
    background: #333333;
    color: #fff;
}

.products-section-bar .active {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    padding: 0.8rem 2.5rem;
    background: #333333;
    border-radius: 1.5rem;
    color: #fff;
}

.products-section h2 {
    padding: 5rem 0;
}

.products-section h3 {
    font-size: 2.4rem;
    font-weight: 700;
}

.products-section-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25.6rem);
    justify-content: center;
    grid-gap: 2.5rem;
    grid-row-gap: 7rem;
}

/* ------ MEDIA QUERIES TABLETS ------ */

@media screen and (max-width: 1024px) {
    .products-section-brands {
        padding: 4rem 0;
        flex-direction: column;
        gap: 2.4rem;
        align-items: center;
    }
    .products-section-bar {
        width: 21rem;
        margin: 0 auto;
    }
}

/* ------ MEDIA QUERIES MOBILES ------ */

@media screen and (max-width: 732px) {

    .products-section-container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

    .products-section-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    justify-content: center;
    grid-gap: 2.5rem;
    grid-row-gap: 7rem;
}
}

