.products__section {
    margin-bottom: 4rem;
    padding: 8rem 0;
    background: radial-gradient(70.02% 276.03% at 70.02% 54.72%, #f5f5f5 33.43%, #e5e5e5 100%);
}

.products__section-container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.products__section-bar {
    padding: 1rem 0.5rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.products__section-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.brand-btn {
    color: #333333;
    padding: 0.8rem 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

.brand-btn:hover{
    padding: 0.8rem 2.5rem;
    background: #333333;
    border-radius: 1.5rem;
    color: #fff;
}

.active {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    padding: 0.8rem 2.5rem;
    background: #333333;
    border-radius: 1.5rem;
    color: #fff;
}

.products__section h3 {
    text-align: center;
    padding: 6rem 0 3rem 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.4rem;
}

.products__section-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25.6rem);
    justify-content: center;
    grid-gap: 2.5rem;
    grid-row-gap: 7rem;
}

/* ------ MEDIA QUERIES TABLETS ------ */

@media screen and (max-width: 1024px) {
    .products__section-brands {
        padding: 2rem 0;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .products__section-bar {
        width: 21rem;
        margin: 0 auto;
    }
}

/* ------ MEDIA QUERIES MOBILES ------ */

@media screen and (max-width: 732px) {

    .products__section-container {
    width: var(--container-width-sm);
    margin: 0 auto;
}

    .products__section-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14.2rem);
    justify-content: center;
    grid-gap: 2.5rem;
    grid-row-gap: 7rem;
}
}

