.card-content {
    font-family: 'Barlow', sans-serif;
}

.card-content-img {
    background: #fff;
    width: 25.6rem;
    height: 32rem;
    border-radius: 1.5rem;
}

.card-content-img img {
    height: 20rem;
    width: auto;
}

.card-content-brand {
    margin: 1rem 0 1rem 1rem;
    font-weight: 400;
    color: #828282;
}

.card-content-model,
.card-content-price {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333333;
    margin-left: 1rem;
    text-transform: uppercase;
}



/* ------ MEDIA QUERIES MOBILES ------ */

@media screen and (max-width: 732px) {
    .card-content-img {
        width: 25rem;
        height: 22.5rem;
    }
    .card-content-img img {
        height: 11.6rem;
        width: auto;
    }
    .card-content-model,
    .card-content-price {
        font-size: 1.6rem;
    }
}
