.card__content {
    font-family: 'Barlow', sans-serif;
}

.card__content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 25.6rem;
    height: 32rem;
    border-radius: 1.5rem;
}

.card__content-img img {
    height: 20rem;
    width: auto;
}

.card__content-brand,
.card__content-rating {
    margin: 1rem 0 1rem 1rem;
    font-weight: 400;
    color: #828282;
}

.card__content-model,
.card__content-price {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333333;
    margin-left: 1rem;
    text-transform: uppercase;
}

.card__content-rating{
    margin-bottom: 1.5rem;
}

.card__content a {
    margin-left: 1rem;
    padding: 0.8rem 2.5rem;
    background: #333333;
    border-radius: 1.5rem;
    font-family: 'Monserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

/* ------ MEDIA QUERIES MOBILES ------ */

@media screen and (max-width: 732px) {
    .card__content-img {
        width: 14.2rem;
        height: 22.5rem;
    }
    .card__content-img img {
        height: 11.6rem;
        width: auto;
    }
    .card__content-model,
    .card__content-price {
        font-size: 1.6rem;
    }
}
