.section-orderlist {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem 0;
    background: radial-gradient(70.02% 276.03% at 70.02% 54.72%, #f5f5f5 33.43%, #e5e5e5 100%);
}

.orderlist {
    width: var(--container-width-md);
    margin: 0 auto;
}

.section-orderlist th,
.section-orderlist td {
    padding: 1rem
}

.section-orderlist .date {
    min-width: 15rem;
}

