.section-productlist {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem 0;
    background: radial-gradient(70.02% 276.03% at 70.02% 54.72%, #f5f5f5 33.43%, #e5e5e5 100%);
}

.productlist {
    width: var(--container-width-md);
    margin: 0 auto;
}

.section-productlist th,
.section-productlist td {
    padding: 1rem
}

.section-productlist .name {
    min-width: 20rem;
}

.section-productlist .price-list {
    min-width: 8rem;
}

.section-productlist .action {
    min-width: 13rem;
}