.section-userlist {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem 0;
    background: radial-gradient(70.02% 276.03% at 70.02% 54.72%, #f5f5f5 33.43%, #e5e5e5 100%);
}

.userlist {
    width: var(--container-width-md);
    margin: 0 auto;
}

.section-userlist th,
.section-userlist td {
    padding: 1rem
}

.section-userlist .name {
    min-width: 15rem;
}

.section-userlist .action {
    min-width: 13rem;
}