.featured-section {
    background: #f5f5f5;
    padding: 8rem 0;
}

.featured-section-cards {
    width: var(--container-width-md);
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
    overflow-x: auto;
}
