.navbar-searchbar {
    width: 3rem;
    cursor: pointer;
    height: 3rem;
    outline: none;
    background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-256.png');
    background-size: 2.3rem;
    background-position: bottom 2px right 2px;
    font-size: 1.6rem;
    color: #333333;
    background-repeat: no-repeat;
    transition-property: width, border-radius, background-position, padding-left /*, transform*/;
    transition-duration: 0.5s;
}

.navbar-searchbar:focus {
    width: 25rem;
    border-radius: 1rem;
    background-color: #f2f2f2;
    background-size: 2.3rem;
    cursor: text;
    padding-left: 30px;
    padding-right: 20px;
    background-position: bottom 2px left 2px;
}

/* ------ MEDIA QUERIES MOBILES ------ */

@media screen and (max-width: 600px) {
    .navbar-searchbar:focus {
    width: 30rem;
}
}
