nav {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding: 2rem 0;
}



.navbar-logo img {
    width: 3rem;
    height: 3rem;
}

.navbar-logo p {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 0;
}

.navbar-logo span {
    font-weight: 500;
}

.navbar-search img {
    width: 2.3rem;
    height: 2.3rem;
}

.nav-link{
    color: #333333;
}

.dropdown-menu {
    font-size: 1.6rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #333333;
}

/* ------ MEDIA QUERIES MOBILES ------ */

@media screen and (max-width: 600px) {
    nav {
        padding: 1rem 0;
    }
    .navbar {
        flex-direction: column;
        gap: 1.3rem;
        align-items: center;
    }

    .navbar-search img {
        width: 2.2rem;
        height: 2.2rem;
    }
}
