nav {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding: 2rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    color: #000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar__logo:hover {
    color: #000;
}

.navbar__logo img {
    width: 3rem;
    height: 3rem;
}

.navbar__logo span {
    font-weight: 600;
}

.navbar__search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.navbar__search img {
    width: 2.3rem;
    height: 2.3rem;
}

.nav-link{
    color: #333333;
}

.dropdown-menu {
    font-size: 1.6rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #333333;
}

/* ------ MEDIA QUERIES MOBILES ------ */

@media screen and (max-width: 600px) {
    nav {
        padding: 1rem 0;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        align-items: center;
    }

    .navbar__search img {
        width: 2.2rem;
        height: 2.2rem;
    }
}
